html, body {
    width: 100%;
    margin: 0px;
    font-size: 16px;
}
#card {
    overflow: hidden;
}
a { 
    color: inherit;  
    transition: all 0.3s;
}
a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1 {
    font-family: 'Alata', sans-serif;
    font-weight: bolder;
}
.bg-black {
    background: #222;
}
.navbar {
    position: absolute;
    top: 0;
    z-index: 100;
    border-radius: 0px 0px 20px 20px;
}
.navbar-brand {
    font-size: 3em;
    font-family: 'Satisfy', cursive;
    transition: all 0.5s;
}
.navbar-brand:hover {
    text-shadow: 0px 0px 5px white;
}
.slider-header {
    overflow: hidden;
}
.jumbotron {
    height: 50vw;
    background-image: url('https://images6.alphacoders.com/339/339512.jpg');
    background-size: cover;
    /*position: relative;*/
}
.box-center {
    position: relative;
    left: 50%;top: 8vw;
    transform: translateX(-50%);
}
.card {
    height: 35vw;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
}
[class*='card-img'] {
    position: absolute;
    background-size: cover;    
    top: 0;left: 0;bottom: 0;right: 0;
    background-position: center;
    transition: all 1s;
}
.card-img-1 {
    background-image: url('https://images3.alphacoders.com/778/thumb-1920-77877.jpg');
}
.card-img-2 {
    background-image: url('https://images4.alphacoders.com/172/thumb-1920-172406.jpg');
}
[class*='card-tag'] {
    display: block;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Anton', sans-serif;
    font-size: 10em;
    transition: all 1s;
    opacity: 0.3;
    color: white;
}
.card-tag-2 {
    top: 90%;
    font-size: 0.2em;
    width: 100%;
}
.card-info {
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.5s;
}
.card-info div {
    position: absolute;
    bottom: -100px;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: all 0.5s;
    width: 100%;
}
.card-info a { transition: all 0.3s; }
.card:hover .card-tag, .card:hover .card-tag .card-tag-2 {
    color: white;
    opacity: 1;
}
.card-tag:hover, .card-tag:hover .card-tag-2 {
    color: #eee!important;
    opacity: 1;
    text-shadow: 1px 1px 15px black;
}
.card:hover .card-info div {
    bottom: 0px;
    opacity: 1;
} 
.card:hover .card-img-1,.card:hover .card-img-2{
    transform: scale(1.4);
}
.card:hover .card-info {
    opacity: 1;
}
.card-info a:hover {
    color: tomato;
}
.rounded-img {
    display: flex;
    justify-content: center;
}
.rounded-img .card-round:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 2px 7px black;
}
.card-round {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 150px;
    box-shadow: 0px 2px 3px black;
}
.card-img-3 {
    background-image: url('https://instagram.fjog3-1.fna.fbcdn.net/v/t51.2885-19/s150x150/36149371_198425827535688_7128051050132537344_n.jpg?_nc_ht=instagram.fjog3-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=HXlI9msNJVAAX_VMDfQ&oh=0d92c5d4b19e50b35fca634e2b699218&oe=5ED47166');
}
.card-img-4 {
    background-image: url('https://scontent.fjog3-1.fna.fbcdn.net/v/t1.0-1/p160x160/74698813_2220082928095572_8795908909844922368_n.jpg?_nc_cat=107&_nc_ohc=NbXC8HuzsmIAX84AtsJ&_nc_ht=scontent.fjog3-1.fna&_nc_tp=6&oh=f7a8abba6bfe8ca1f3bf67626f5e6875&oe=5EC9146E');
}
.card-img-5 {
    background-image: url('https://lh3.googleusercontent.com/a-/AAuE7mBqdX1Be4yytOYqJIm3BBWn20PDXYpLG4uXiT-t=s70-p-k-no');
}
.card-img-6 {
    background-image: url('https://instagram.fjog3-1.fna.fbcdn.net/v/t51.12442-15/e35/c0.280.720.720a/s150x150/70416480_2465550953676166_7793541022905890343_n.jpg?_nc_ht=instagram.fjog3-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=cBTj8iVeGPoAX-bz2t_&oh=bb6e6a1cd1e45c16ba60da71c14121fd&oe=5E345D4C');
}
/* 2D CSS */
.datar {
    position: relative;
    /*overflow: hidden;*/
    height: 35vw;
    /*border: 1px solid red;*/
}
.layang {
    position: absolute;
    border-radius: 10px;
    top: 0;bottom: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    right: -1500px;
}
.jajar {
    position: absolute;
    border-radius: 10px;
    top: 0;bottom: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    left: -1500px;
}
.choice {
    position: absolute;
    border-radius: 10px;
    top: 0;bottom: 0;
    width: 100%;
    display: flex;
    /*overflow: hidden;*/
}
[class*="image"] {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px black;
}
.layang-image {
    background: url('../../../dashboard/image/Kimi no nawa.png');
    background-size: cover;
    background-position: left;
    border-radius: 0px 50px 0px 0px;
}
.jajar-image {
    background: url('../../../dashboard/image/Kimi no nawa.png');
    background-size: cover;
    background-position: right;
    border-radius: 50px 0px 0px 0px;
}
.layang-form {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
}
.arrows-left {
    position: absolute;
    top: 20px;
    left: 20px;
}
.arrows-right {
    position: absolute;
    top: 20px;
    right: 20px;
}
.choice-1 {
    background: url('../../../dashboard/image/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 50px 50px 0 50px;
    box-shadow: 0px 0px 4px black;
    transition: all 0.5s;
}
.choice-2 {
    background: url('../../../dashboard/image/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 50px 50px 50px 0px;
    transition: all 0.5s;
    box-shadow: 0px 0px 4px black;
}
.choice-tag {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family:     
}
.choice-1:hover, .choice-2:hover {
    transform: scale(1.03);
    box-shadow: 0px 2px 6px black;
}
.choice-tag h1 {
    font-family: 'Anton', sans-serif;
    transition: all 0.5s;
}
.choice-tag h1:hover {
    color: tomato;
    cursor: pointer;
}
.fa-circle {
    font-size: 0.2em;
    vertical-align: center;
    position: relative;
    bottom: 3px;
}
.footer a:hover {
    color: tomato;
}
.profile-desc {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    display: none;
    position: fixed;
    bottom: 30px;left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}
/* 3D CSS */
.balok {
    position: absolute;
    border-radius: 10px;
    top: 0;bottom: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    right: 0px;
}
.balok-image {
    background: url('../../../dashboard/image/Kimi no nawa.png');
    background-size: cover;
    background-position: left;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px black;
}
.balok-arrow-right {
    display: none;
}
.balok-form {
    width: 0%;
    height: 100%;
    box-sizing: border-box;
    display: none;
}
.balok-start {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}